<a href="https://colab.research.google.com/github/Abhiie/ML_Lab/blob/main/Lab3_task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

# import the data required
data = pd.read_csv("/content/drive/MyDrive/Dataset3/Dataset3.csv")
print(data.head())

  Outlook Temp Wind  Humidity  Class
0       R    H    F         1      0
1       R    H    T         2      0
2       O    H    F         1      1
3       R    M    F         1      1
4       S    C    F         1      1

In [ ]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Outlook', 'Temp','Wind','Humidity','Class'])
print(one_hot_encoded_data)

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_2  Class_0  Class_1
0           0          1          0  ...           0        1        0
1           0          1          0  ...           1        1        0
2           1          0          0  ...           0        0        1
3           0          1          0  ...           0        0        1
4           0          0          1  ...           0        0        1
5           1          0          0  ...           0        1        0
6           1          0          0  ...           0        0        1
7           0          1          0  ...           0        1        0
8           1          0          0  ...           0        0        1
9           0          0          1  ...           1        0        1
10          0          1          0  ...           1        1        0
11          1          0          0  ...           0        0        1
12          1          0          0  ...           0        0        1
13          0          0          1  ...           0        1        0

[14 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split

data_train, data_test= train_test_split(one_hot_encoded_data, test_size=0.25, random_state=107)
data_train.head()

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_2  Class_0  Class_1
5           1          0          0  ...           0        1        0
10          0          1          0  ...           1        1        0
13          0          0          1  ...           0        1        0
8           1          0          0  ...           0        0        1
11          1          0          0  ...           0        0        1

[5 rows x 13 columns]

Q1:

In [ ]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model=MultinomialNB()
model.fit(data_train.iloc[: , :-2],data_train["Class_1"])
data_train.iloc[: , :-2]

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_0  Humidity_1  Humidity_2
5           1          0          0  ...           1           0           0
10          0          1          0  ...           0           0           1
13          0          0          1  ...           0           1           0
8           1          0          0  ...           1           0           0
11          1          0          0  ...           1           0           0
12          1          0          0  ...           0           1           0
2           1          0          0  ...           0           1           0
6           1          0          0  ...           0           1           0
9           0          0          1  ...           0           0           1
0           0          1          0  ...           0           1           0

[10 rows x 11 columns]

In [ ]:
import numpy as np 
import pandas as pd


# Step 2: Load Data
        
datasets = pd.read_csv('/content/drive/MyDrive/Dataset3/Dataset3.csv') 
Humidity=datasets['Humidity']
Outlook=datasets['Outlook']
class1=datasets['Class']
Temp=datasets['Temp']
Wind=datasets['Wind']

le = preprocessing.LabelEncoder()
Humidity_encoded=le.fit_transform(Humidity)
print("Humidity:" ,Humidity_encoded)

Outlook_encoded=le.fit_transform(Outlook)
print("Outlook:" ,Outlook_encoded)

class1_encoded=le.fit_transform(class1)
print("class:" ,class1_encoded)

Temp_encoded=le.fit_transform(Temp)
print("Temp:" ,Temp_encoded)

Wind_encoded=le.fit_transform(Wind)
print("Wind:" ,Wind_encoded)

Humidity: [1 2 1 1 1 0 1 1 0 2 2 0 1 1]
Outlook: [1 1 0 1 2 0 0 1 0 2 1 0 0 2]
class: [0 0 1 1 1 0 1 0 1 1 0 1 1 0]
Temp: [1 1 1 2 0 0 0 2 0 2 0 2 1 2]
Wind: [0 1 0 0 0 1 1 0 0 0 1 1 0 1]